.logos {
    margin-bottom: 100px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1024px) {
            justify-content: center;
        }
    }

    &__img {
        @media (max-width:1024px) {
            margin: 20px;
        }
    }
}